**/build
**/__pycache__
**/__pycache__/*
**/.vscode

**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
/back-end/back-end

/back-end/RDD
/back-end/test_backend
/back-end/master_backend
/back-end/mylib.*
/back-end/*.py

**/*.dat

**/.ccls-cache/

*.pb.*
*_pb2.*
*_pb2*
*mylib*
